{% extends "admin/change_form.html" %}
{% load i18n %}

{% block field_sets %}
  {{ block.super }}

  <!-- Media host information -->
  {% if original.local %}
  {% include 'includes/mediahost-fieldset.html' with mediahost=original.local only %}
  {% endif %}
  {% if original.youtube %}
  {% include 'includes/mediahost-fieldset.html' with mediahost=original.youtube only %}
  {% endif %}
  {% if original.uolmais %}
  {% include 'includes/mediahost-fieldset.html' with mediahost=original.uolmais only %}
  {% endif %}
  {% if original.vimeo %}
  {% include 'includes/mediahost-fieldset.html' with mediahost=original.vimeo only %}
  {% endif %}

{% endblock %}
