{% extends "admin/change_form.html" %}
{% load i18n %}

{% block field_sets %}
  {{ block.super }}

  <!-- Video Metadata information -->
  <fieldset class="module aligned">
    <h2>Meta</h2>

    <div class="form-row">
      <div>
        <label>{% trans "Length" %}:</label>
        <p>{{ original.length }}</p>
      </div>
    </div>
  </fieldset>

  <!-- Video host information -->
  {% include 'includes/videohost-fieldset.html' with videohost=original.youtube %}
  {% include 'includes/videohost-fieldset.html' with videohost=original.uolmais %}
{% endblock %}
