{% load i18n %}
<fieldset class="module aligned">
  <h2>{{ mediahost.get_host_display }}</h2>

  <div class="form-row">
    <div>
      <label>{% trans "Status" %}:</label>
      <p>{{ mediahost.get_status_display }}{% if mediahost.status_message %} ({{ mediahost.status_message }}){% endif %}</p>
    </div>
  </div>

  <div class="form-row">
    <div>
      <label>{% trans "Upload" %}:</label>
      <p>{{ mediahost.upload_status }}</p>
    </div>
  </div>

  <div class="form-row">
    <div>
      <label>{% trans "URL" %}:</label>
      <p>{{ mediahost.url }}</p>
    </div>
  </div>

</fieldset>
